spring:
  application:
    name: fortunelink
  datasource: 
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: password

  jpa:
    hibernate:
    ddl-auto: create-drop # Good for testing - recreates schema each run, change to validate when using flyway
    show-sql: true           # Helpful to see generated SQL during development
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true     # Makes SQL output readable

  # Enable H2 Console
  h2:
    console:
      enabled: true
      path: /h2-console

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration